.loginBackground{
    background: #61dafb url("../assert/image-0-0.jpg");
    background-size:100% 100%; /*没有这一句的话，图片会按照原始大小铺满页面*/
    height: 100%;
    width: 100%;
    position: absolute;  /*将div根据上一层元素定位到100%*/
    top: 0px;
    bottom: 0px;
    display: flex;
}

.loginCard{
    margin: auto;
    background-color:rgba(0,0,0,0);
    color: aliceblue;
}